# invitation

In [2]:
guest = ["Anas","mansoor","abid"]
guest

['Anas', 'mansoor', 'abid']

In [3]:
guest = ["Anas","mansoor","abid"]
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

Anas Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,

In [4]:
#4.1
guest = ["Anas","mansoor","abid"]
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.2

name = guest[0]  
print ("\n" + name + " Please come to dinner,")

name = guest[1]  
print (name + " u can't make it to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

Anas Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,

Anas Please come to dinner,
mansoor u can't make it to dinner,
abid Please come to dinner,

In [5]:
#4.3

update_name = "suhail","kashif","raqib"
update_name

('suhail', 'kashif', 'raqib')

In [6]:
#4.1
guest = ["Anas","mansoor","abid"]
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.2
name = guest[0]  
print ("\n" + name + " Please come to dinner,")

name = guest[1]  
print (name + " u can't make it to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.3

update_name = "suhail","kashif","raqib"
update_name

name = update_name[0]
print("\n" + name + " please come to our dinner,")

name = update_name[1]
print("\n" + name + " please come to our dinner,")

name = update_name[2]
print("\n" + name + " please come to our dinner,")

Anas Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,

Anas Please come to dinner,
mansoor u can't make it to dinner,
abid Please come to dinner,

suhail please come to our dinner,

kashif please come to our dinner,

raqib please come to our dinner,

In [7]:
#4.1
guest = ["Anas","mansoor","abid"]
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.2
name = guest[0]  
print ("\n" + name + " Please come to dinner,")

name = guest[1]  
print (name + " u can't make it to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.3

update_name = "suhail","kashif","raqib"
update_name

name = update_name[0]
print("\n" + name + " please come to our dinner,")

name = update_name[1]
print("\n" + name + " please come to our dinner,")

name = update_name[2]
print("\n" + name + " please come to our dinner,")

guest

Anas Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,

Anas Please come to dinner,
mansoor u can't make it to dinner,
abid Please come to dinner,

suhail please come to our dinner,

kashif please come to our dinner,

raqib please come to our dinner,

['Anas', 'mansoor', 'abid']

In [8]:
#4.1
guest = ["Anas","mansoor","abid"]
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.2
name = guest[0]  
print ("\n" + name + " Please come to dinner,")

name = guest[1]  
print (name + " u can't make it to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

#4.3

update_name = "suhail","kashif","raqib"
update_name

name = update_name[0]
print("\n" + name + " please come to our dinner,")

name = update_name[1]
print("\n" + name + " please come to our dinner,")

name = update_name[2]
print("\n" + name + " please come to our dinner,")


print("\n new table arranged ")
guest.insert(0, "zaid")
guest.insert(2, "nasrullah")
guest.append("khalid")



guest

Anas Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,

Anas Please come to dinner,
mansoor u can't make it to dinner,
abid Please come to dinner,

suhail please come to our dinner,

kashif please come to our dinner,

raqib please come to our dinner,

 new table arranged

['zaid', 'Anas', 'nasrullah', 'mansoor', 'abid', 'khalid']

In [9]:
#4.3
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

name = guest[3]  
print (name + " Please come to dinner,")

name = guest[4]  
print (name + " Please come to dinner,")

name = guest[5]  
print (name + " Please come to dinner,")

print("\n Sorry friends, only two people space ")

zaid Please come to dinner,
Anas Please come to dinner,
nasrullah Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,
khalid Please come to dinner,

 Sorry friends, only two people space

In [13]:
#4.3
name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest[2]  
print (name + " Please come to dinner,")

name = guest[3]  
print (name + " Please come to dinner,")

name = guest[4]  
print (name + " Please come to dinner,")

name = guest[5]  
print (name + " Please come to dinner,")

print("\n Sorry friends, only two people space ")

#4.4

name = guest[0]  
print (name + " Please come to dinner,")

name = guest[1]  
print (name + " Please come to dinner,")

name = guest.pop()  
print (name + " Please can't join for my friends,")

name = guest.pop()  
print (name + " Please can't join for my friends,")

name = guest.pop()  
print (name + " Please can't join for my friends,")

name = guest.pop()  
print (name + " Please can't join for my friends,")

zaid Please come to dinner,
Anas Please come to dinner,
nasrullah Please come to dinner,
mansoor Please come to dinner,
abid Please come to dinner,
khalid Please come to dinner,

 Sorry friends, only two people space
zaid Please come to dinner,
Anas Please come to dinner,
khalid Please can't join for my friends,
abid Please can't join for my friends,
mansoor Please can't join for my friends,
nasrullah Please can't join for my friends,

In [15]:
guest

['zaid', 'Anas']